DB_NAME=microcreditos_db
DB_USER=changeme
DB_PASSWORD=changeme
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/microcreditos_db
SPRING_DATASOURCE_USERNAME=changeme
SPRING_DATASOURCE_PASSWORD=changeme
JWT_KEY=<genera-una-clave-base64-de-256-bits>
SPRING_PROFILES_ACTIVE=dev

